{% extends "base.html" %}

{% block content %}



<div class="container">
	<div class="row">
		<p style="color:gray">Main » Dictate</p>
	</div>

	<div class="container">
        <div class="row">
            <p><h3>Start a session:</h3></p>
        </div>
	</div>
</div>

<div class="blended_grid">
    <div class="containerResponse">
        <button id="recbutton" class="btn" onclick="clearTranscription(); toggleListening();"></button>
        <div align="center">Kaldi</div>

        <div class="wrap">
            <textarea id="trans" name="speech_input" form="infer_form"></textarea>
        </div>

        <div class="wrapr">
            <textarea readonly id="clinc" style="margin-right: 10px">{% if result %}{{ result }}{% endif %}</textarea>
        </div>

    </div>

	<div class="pageFooter" style="margin-bottom: 0px">
		<span id="serverStatusBar" title="Number of available workers"></span>
		<select style="display: none;" id="servers" name="servers" style="margin-top:0em">
			<option value="{{ asr_addr_port }}/client/ws/speech|{{ asr_addr_port }}/client/ws/status" selected="selected">Lucida</option>
		</select>

		<p style="clear: both;">

		<pre id="log"></pre>
	</div>
</div>

<script src="{{ url_for('static', filename='js/speech-streamer.js')}}"></script>
<script src="{{ url_for('static', filename='js/dictate.js')}}"></script>
<script src="{{ url_for('static', filename='js/recorder.js')}}"></script>
<script src="{{ url_for('static', filename='js/recorderWorker.js')}}"></script>
<script src="{{ url_for('static', filename='js/mob.js')}}"></script>
<script src="{{ url_for('static', filename='js/resultSpeaker.js')}}"></script>
<script type="text/javascript">
var speakable = "{{ result }}";
if (speakable !== "" && speakable !== "None") {
	textToVoice("{{ result }}");
}
$('#trans').keypress(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        this.form.submit();
    }
});
</script>
{% endblock %}
